*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

.header {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  color: gray;
}

.header_logo {
  color: inherit;
  text-decoration: none;
}

.hero {
  min-height: 100 vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.hero_container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(290px, 1fr));
  grid-gap: 20px;
}

.hero_about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero_title {
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 1.1;
}

.hero_subtitle {
  font-size: 32px;
  font-weight: 400;
}

.hero_links {
  display: flex;
  font-size: 32px;
  color: black;
}

.hero_link {
  margin-right: 10px;
  color: black;
}

.hero_link:hover {
  color:violet;
}

.hero_box {
  max-width: 500px;
  justify-self: center;
  overflow: hidden;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);

  border: 10px solid white;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, .5);

  animation: ava-animate 6s infinite alternate;
}

@keyframes ava-animate {
  0% {
    border-radius: 60% 40% 76% 24% / 44% 48% 52% 56%;
  }

  40% {
    border-radius: 39% 61% 65% 35% / 51% 34% 66% 49%;
  }

  60% {
    border-radius: 15% 85% 32% 68% / 71% 17% 83% 29%;
  }

  100% {
    border-radius: 32% 68% 58% 42% / 52% 31% 69% 48%;
  }
}

.hero_box-img {
  animation: ava-bg 3s infinite alternate;
}

@keyframes ava-bg {
  from {
    backgrop-filter: hue-rotate(0);
  }

  to {
    backgrop-filter: hue-rotate(90deg);
  }
}